.head{
  background-color: darkcyan;
  color:#fff;
  padding : 20px;
}
.col-space{
  margin :20px;
}
.text-style{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pt-20 {
  padding-top: 20px !important;
}